
/* General */

body {
  font-family: 'Roboto Slab', serif;
  color:  #324950;
}
a {
  color: #3498db;
  text-decoration: none;
}
a:hover {
  color: #5faee3;
  text-decoration: none;
}
.x-marks{
  color: #57984C;
  font-size: smaller;
}
#margin-bot-80{
  margin-bottom: 80px;
}
#margin-vertical-20{
  margin-top: 20px;
  margin-bottom: 20px;
}
.text-color-green{
  color:#57984C;
}
.text-color-red{
  color:#CF2333;
}

/* Section General*/

section {
  padding: 60px 0;
}
.section-bg {
  background-color: #f7fbfe;
}
.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

/* Header */

#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#header .logo img {
  max-height: 40px;
}
#header-searchbar {
  margin: 30px 0px 0px 30px;
}
.form-control-underlined {
  border-width: 0;
  border-bottom-width: 2px;
  border-radius: 0;
  padding-left: 0;
}

/* Navigation */

.navbar {
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 16px;
  font-weight: 500;
  color: #4f5a62;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

/* Banner Section */

#banner {
  width: 100%;
  height: 72vh;
  background: url("../img/wheat-bg.jpg") center center;
  background-size: cover;
  position: relative;
  margin-top: 70px;
  padding: 0;
}
#tomato-banner {
  width: 100%;
  height: 45vh;
  background: url("../img/tomato-bg.png") center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 70px;
}
#banner:before {
  content: "";
  background: rgba(0, 0, 0, 0.15);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#banner .container {
  z-index: 2;
}
#banner h2 {
  color: #735440;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
}
#banner .btn-get-started {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 2px;
  display: inline-block;
  padding: 12px 28px;
  border-radius: 4px;
  transition: ease-in-out 0.3s;
  color: #fff;
  background: #3498db;
  text-transform: uppercase;
}
#banner .btn-get-started:hover {
  background: #4ea5e0;
}
@media (max-width: 992px) {
  #banner {
    height: calc(100vh - 70px);
  }
}
@media (max-width: 768px) {
  #banner h1 {
    font-size: 30px;
    line-height: 36px;
  }
  #banner h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/* Products */

.products {
  background: white;
  padding: 30px 0 30px 0;
}
.products .product-box {
  width: 100%;
  position: relative;
  text-align: center;
  background: #fff;
}
.products .product-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  background: #3498db;
  padding: 12px;
  color: #fff;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}
.products .product-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #124364;
}
.products .product-box p {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

/* About us*/

.about {
  padding: 10px 0;
  background: url("../img/about-us-bg.png") center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #E5E5E5;
 
}
.about-tomato{
  background-color: #EDEDED;
}
#hint{
  border-left: 3px solid #EB5757;
  padding-left: 5px;
}
#about h3 {
  font-weight: 600;
  font-size: 32px;
}

/* Activities */

.activities{
  background-color:  #EDEDED;
}
.activity-name{
  color: #57984C;
  padding-top:5px;
  padding-bottom:15px;
}

/* Tomato Columns */

#tomato-columns h4 {
  font-weight: 600;
  margin-bottom: 20px;
}
#tomato-columns p {
  padding-top: 20px;
}

/* Tomatoes  */

.tomatoes{
  background-color: #EDEDED;
}
.tomatoes h4, h5{
  color:#57984C;
}
.tomatoes h4{
  font-size: medium;
  font-weight: 400;
}
.tomatoes h5{
  font-size: small;
}
.tomato-text-block{
  background-color: rgba(255, 255, 255, 1);
  padding: 5px;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.tomato-cover{
  width: 100%;
  height: 45vh;
  position: relative;
  margin-top: 70px;
}
#tomato-cover-1{
  background: url("../img/tomatoes/1.png") center center;
  background-size:contain;
  background-repeat: no-repeat;
}
#tomato-cover-2{
  background: url("../img/tomatoes/2.png") center center;
  background-size:contain;
  background-repeat: no-repeat;
}
#tomato-cover-3{
  background: url("../img/tomatoes/3.png") center center;
  background-size:contain;
  background-repeat: no-repeat;
}
#tomato-cover-4{
  background: url("../img/tomatoes/4.png") center center;
  background-size:contain;
  background-repeat: no-repeat;
}
#tomato-cover-5{
  background: url("../img/tomatoes/5.png") center center;
  background-size:contain;
  background-repeat: no-repeat;
}
#tomato-cover-6{
  background: url("../img/tomatoes/6.png") center center;
  background-size:contain;
  background-repeat: no-repeat;
}
#tomato-cover-7{
  background: url("../img/tomatoes/7.png") center center;
  background-size:contain;
  background-repeat: no-repeat;
}
#tomato-cover-8{
  background: url("../img/tomatoes/8.png") center center;
  background-size:contain;
  background-repeat: no-repeat;
}

/* Tomato One */

.tomato-one{
  margin-top:20px;
}
.tomato-one h2,h3{
  font-weight: 700;
}
.tomato-one #back-button{
  color:#57984C;
  margin-bottom: 10px;
}
.tomato-icon-text{
  display: inline-block;
}
.tomato-green-underlined{
  color:#57984C;
  border-bottom: 3px solid #57984C;
  width: 50%;
}
.download-button{
float: right;
}

/* Footer */

.footer-top{
  background-color: #2D3F45;
  color: white;
  padding: 5px;
}
#footer-navbar a, #footer-navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  white-space: nowrap;
  transition: 0.3s;
}
.footer-icons{
  margin-left: 10vw;
}
#footer-bot{
  background-color: #324950;
  color: #B9B9B9;
  font-family: 'Roboto', sans-serif;
  font-size: small;
  padding: 5px;
}